* {
    font-family: Arial, Helvetica, sans-serif;
}

#titleContainer {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 720px;
    height: 100%;
    max-height: 720px;
    border: solid 1px black;
}

.box {
    flex: 1 1;
    aspect-ratio: 1;
    min-width: 72px;
    max-width: 144px;
    min-height: 72px;
    max-height: 144px;
}

